/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden; /* Oculta el deslizador horizontal */
  }
  
  .app {
    text-align: center;
  }